#deals-container {
    display: flex;
    max-width: var(--max-width);
    flex-direction: column;
    margin: 1vw auto;
}

.deal {
    width: 100%;
    background-color: var(--white);
    border-radius: 30px;
}

.deal-image {
    width: 100%;
    height: 220px;
    border-radius: 30px 30px 0px 0px;
}

.deal-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.deal-title {
    display: flex;
    flex-direction: row;
}

.deal-title h3:first-of-type {
    margin-right: auto;
}

.deal-title h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.deal-subtitle {
    font-size: 1.2rem;
    margin-top: 5px;
}